@page "/ceremonia"
<div class="one-column-content">
    <h1>Ceremonia</h1>
    <p>Ślub odbędzie się o godzinie 16:30 w Kościele pw. św. Bartłomieja Apostoła w Jezioranach (adres: Plac Kościelny 2; 11-320 Jeziorany). </p>
    <img src="StaticRes/Images/jeziorany-koci-gotycki-z-xiv-wieku-1802-705x524.jpg" alt="zdjęcie kościoła" />
</div>
@code {
    
}