@page "/contact"
<div class="two-column-content">
    <div style="height: inherit">
        <h3 style="width: max-content" class="m-auto">Aleksandra </h3> 
        <h4 style="width: max-content" class="m-auto">501 071 821</h4>
        <img src="StaticRes\small\contact\ola.jpg" onclick="window.open(this.src, '_blank');" style="width:50%;margin: 10px auto;display: block"/>
    </div>
    <div style="height: inherit">
        <h3 style="width: max-content" class="m-auto">Michał </h3>
        <h4 style="width: max-content" class="m-auto">723 866 093</h4>
        <img src="StaticRes\small\contact\michu.jpg" onclick="window.open(this.src, '_blank');" style="width:50%;margin: 10px auto;transform: scaleX(-1);display: block"/>
    </div>

</div>


@code {

}