@page "/"

<div class="image-container">
    <div class="image-wrapper">
        <img src="StaticRes/small/2I9A7927.jpg" onclick="window.open(this.src, '_blank');"/>
        <span class="image-text">Fot. Agata Zabrocka</span>
    </div>
    <div class="image-wrapper">
        <img src="StaticRes/small/2I9A7693.jpg" onclick="window.open(this.src, '_blank');"/>
        <span class="image-text">Fot. Agata Zabrocka</span>
    </div>
    <div class="image-wrapper">
        <img src="StaticRes/small/2I9A7830.jpg" onclick="window.open(this.src, '_blank');"/>
        <span class="image-text">Fot. Agata Zabrocka</span>
    </div>
</div>

@code
{

}