@page "/Nocleg"
<div class="one-column-content">
    <h3>Nocleg</h3>
    <p>Osada Dębowo w Kiersztanowie – doba hotelowa zaczyna się 15.06.2024r. o godzinie 15:00, a kończy 16.06.2024r. o godzinie 11:00.</p>
    <p>
        Łowisko Robinson w Ramsowie – doba hotelowa zaczyna się 15.06.2024r. o godzinie 14:00, a kończy 16.06.2024r. o godzinie 11:00.
    </p>
    <h4>
        Dokładnych informacji udzielimy telefonicznie.
    </h4>
</div>

@code {

}