@page "/poprawiny"
<div class="one-column-content">
    <h3>Poprawiny</h3>
    <p>Poprawiny odbędą się o godzinie 11:00 na Łowisku Robinson w Ramsowie (adres: 11-010 Ramsowo).</p>
    <p>Ze względu na to, że poprawiny będą w formie grilla i ogniska proponujemy ubrać się wygodnie, odradzamy stroje eleganckie.</p>
   <img src="StaticRes/Images/IMG_0826.jpg" onclick="window.open(this.src, '_blank');" />
</div>

@code {

}