@page "/przyjecie"
<div class="one-column-content">
    <h3>Przyjecie</h3>
    <p>
        Wesele odbędzie się w Osadzie Dębowo w Kiersztanowie (adres: Kiersztanowo 31; 11-320 Jeziorany).
    </p>
    <img src="StaticRes/Images/IMG_0825.jpg" onclick="window.open(this.src, '_blank');" />
</div>


@code {

}